{% extends 'main/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<a href="upload">Заказать фото онлайн</a><br>
<h4></h4><br>
<a href="">Наша группа Вконтакте (VK.com)</a><br>
<a href="">Наш аккаунт в Инстаграмм</a><br>
<h4>Форматы для печати фото    10х15 15х21 21х30 30х40 30х45</h4>
<h5>так же можно заказать не стандартные размеры для этого свяжитесь с нами</h5>
<h4></h4><br>
<h4>Наш адрес: г. Углич Базарный проезд д.1А</h4>
<h4>тел. 8(48532)2-24-65</h4>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1071.0286286052367!2d38.32472915835748!3d57.52844033529364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b3b691c2368069%3A0xf9e7ca563f74844e!2z0JHQsNC30LDRgNC90YvQuSDQv9GALiwg0KPQs9C70LjRhywg0K_RgNC-0YHQu9Cw0LLRgdC60LDRjyDQvtCx0LsuLCAxNTI2MTU!5e0!3m2!1sru!2sru!4v1609086420598!5m2!1sru!2sru" width="600" height="450" frameborder="5" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

{% endblock %}