upstream {{ run_site_nginx_upstream_name }} {
    server {{ run_site_host }}:{{ run_site_port }};
}

server {
    listen 80;

    # CHANGE THIS TO YOUR SERVER'S NAME
    server_name {{ run_site_domain }};

    # Logging configuration
    access_log {{ run_site_nginx_access_log }};
    error_log {{ run_site_nginx_error_log }};


    # SSL enable manualy by Let's Encrypt certbot

    client_max_body_size 25m;

    location /static/ {
        alias {{ deploy_src_work_dir }}/static/;
    }

    location / {
        proxy_pass http://django;
        proxy_set_header X-Forwarded-Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
