{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type='text/stylesheet' href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type='text/javascript' href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
<style>
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Pacifico&family=Piazzolla:ital,wght@1,700&display=swap');
</style>
<header>
    <div class="header">
        <div class="header_section">
            <div class="header_item_buttons">
                <a class="logo" href="/">Тройка Фото Углич</a>
            </div>
            <div class="header_item_buttons">
                <a class="header_button" href="servises">Услуги</a>
            </div>
            <div class="header_item_buttons">
                <a class="header_button" href="goods">Фото товары</a>
            </div>
            <div class="header_item_buttons">
                <a class="header_button" href="reklamma">Наружная рекламма</a>
            </div>
            <div class="header_item_buttons">    
                <a class="header_button" href="souvenirs">Фото сувениры</a>
            </div>
            <div class="header_item_buttons">    
                <a class="header_button" href="workshop">Багетная мастерская</a>
            </div>
            <div class="header_item_buttons">    
                <a class="header_button" href="contacts">Контакты</a>
            </div>
            <div class="header_item_buttons">    
                <a class="header_button" href="#">Войти</a>
            </div>          
        </div>
    </div>
</header>
<div id="top">
    {% block content %}
    {% endblock %}
</div>
<div id="main">
    <div id="intro">
        Не следует, однако забывать, что начало повседневной работы по формированию позиции играет важную роль в формировании позиций, занимаемых 
        участниками в отношении поставленных задач. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает 
        широкому кругу (специалистов) участие в формировании форм развития. Повседневная практика показывает, что дальнейшее развитие различных форм 
        деятельности в значительной степени обуславливает создание направлений прогрессивного развития. Повседневная практика показывает, что консультация 
        с широким активом требуют от нас анализа форм развития.
    </div>  
</div>

<script src="https://ajax.googleapis.com/ajax/libs/d3js/6.3.1/d3.min.js"></script>
<script>
    function slowScroll(id) {
        $('html, body').animate({
            scrollTop: $(id).offset().top
        }, 500)
    }
</script>
<style>
@media screen (min-width: 800) {
    .header_item_buttons {
        font-size: 0.8em;
    }
}

</style>

</body>
</html>