<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js">
</head>
<body>
<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <a class="float-right h4 text-dark" href="/">Тройка Фото Углич</a>
        <nav class="my-2 my-md-0 me-md-4">
            <a class="p-2 text-dark" href="servises">Услуги</a>
            <a class="p-2 text-dark" href="goods">Фото товары</a>
            <a class="p-2 text-dark" href="reklamma">Наружная рекламма</a>
            <a class="p-2 text-dark" href="souvenirs">Фото сувениры</a>
            <a class="p-2 text-dark" href="workshop">Багетная мастерская</a>
            <a class="p-2 text-dark" href="contacts">Контакты</a>
        </nav>
    <a class="btn btn-outline-primary" href="#">Войти</a>
</header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/d3js/6.3.1/d3.min.js"></script>

</body>
</html>