{% extends 'main/base.html'  %}

{% block content %}
<style>
.contacts_form {
    margin-top: 10px;
    width: 30%;

}

.btn_submit {
    font-size: 0.5em;
    padding: 20px;
    background-color: #6c8ca7;
    font-family: Pacifico;
    border-radius: 10px;
    margin-top: 20px;
}

.btn_submit:hover {
    color: black;
    text-decoration: underline;
    background-color:#3f295f ;
}

.input_area {
    min-height: 380px;
    min-width: 330px;
    padding: 5px;
    width: 33%;
    margin-left: 33%;
    border-radius: 15px;
    border:2px solid silver;
    white-space: nowrap;
}

center h5 {
    font-size: 0.5em;
}

.input_area label {
    margin-left: 2px;
    font-size: 30px;
}

span {
    color: red;
}

.l2 {
    font-family: Piazzolla;
    float: left;
    margin-left: 3%;
    font-size: 1px;
}

#id_photo_size, #id_photo_type, #id_count, #id_phone {
    font-family: Piazzolla;
    margin-top: 2%;
    float: right;
    width: 35%;
    font-size: 16px;
    border:2px solid silver;
    border-radius: 5px;
    background-color: #72808c;
    text-align: right;
}

#id_img {
    cursor:pointer;
    width:100%;
    float:left;
    font-family: Piazzolla;
    font-size: 20px;
    border-radius: 8px;
    background-color: #72808c;
}

#input_number {
    font-size: 0.53em;
}

#id_phone {
    float: left;
    padding: 3px;
    height: 20px;
    width:96%;
    font: Piazzolla;
    font-size: 15px;
}


</style>

<div id="contacts_form">
    <form id="form_input" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input_area">
            <center><h5>Данные для заказа.</h5></center>
            <label class="l2">Размер фото: <span>* </span></label>{{ form.photo_size }}<br>
            <label class="l2">Тип фото: <span>* </span></label>{{ form.photo_type }}<br>
            <label class="l2">Выберите фаил: <span>* </span><br>
            </label><div>{{ form.img }}</div><br>
            <label class="l2">Колличество: <span>* </span></label><div>{{ form.count }}</div><br>
            <label class="l2" id="input_number">Введите номер телефона: <span>* </span><br></label>
            {{ form.phone }}
        </div>
        <button type="submit" class="btn_submit">Сделать заказ</button>
    </form>
</div>
{% endblock %}